body{
	font-family: 'Open Sans',sans-serif;
	background-color: beige;
}
#container{
	background-image:  url(mathbg.jpg) ;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
	
}
#calculator{
	width: 320px;
	height: 520px;
	background-color: #53dddd;
    margin: 0 auto;
	position: absolute;
    top: 100px;
	left: 400px;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#result{
    border: 4px solid black;
	height: 120px;
}
#history{
	text-align: right;
	height: 20px;
	margin: 0 20px;
	padding-top: 20px;
	font-size: 20px;
	color: #0a0303;
}
#output{
	text-align: right;
	height: 60px;
	margin: 10px 20px;
	font-size: 30px;
    top: 100px;
    left: 100px;
}
#keyboard{
    font-size: 50px;
	height: 400px;
    top: 100px;
    left: 100px;
}
.operator, .number, .empty{
	width: 50px;
	height: 50px;
	margin: 15px;
	float: left;
	border-radius: 20%;
	border-width: 0;
	font-weight: bold;
	font-size: 25px;
}
.number, .empty{
	background-color: #eaedef;
}
.number, .operator{
	cursor: pointer;
}
.operator:active, .number:active{
	font-size: 13px;
}
.operator:focus, .number:focus, .empty:focus{
	outline: 0;
}
button:nth-child(4){
	font-size: 20px;
	background-color: #20b2aa;
}
button:nth-child(8){
	font-size: 20px;
	background-color: #ffa500;
}
button:nth-child(12){
	font-size: 20px;
	background-color: #f08080;
}
button:nth-child(16){
	font-size: 20px;
	background-color: #7d93e0;
}
button:nth-child(20){
	font-size: 20px;
	background-color: #9477af;
}